In [27]:
import pandas as pd

df = pd.read_csv("facebook/Live.csv")

# print(df.describe())
# print("///////////////////////////")
# print(f'columns: ', df.columns)

# valuse of columns

# values = df['status_id']
# print(f'values of status IDs: ', values.unique())

# values = df['status_type']
# print(f'values of status type: ', values.unique())
#
# values = df['status_published']
# print(f'values of status_published: ', values.unique())
#
# values = df['num_reactions']
# print(f'values of num_reactions: ', values.unique())
#
# values = df['num_comments']
# print(f'values of num_comments: ', values.unique())
#
# values = df['num_comments']
# print(f'values of num_comments: ', values.unique())
#
# values = df['num_shares']
# print(f'values of num_shares: ', values.unique())
#
# values = df['num_likes']
# print(f'values of num_likes: ', values.unique())
#
# values = df['Column1']
# print(f'values Column1: ', values.unique())
#
# values = df['Column2']
# print(f'values Column2: ', values.unique())
#
# values = df['Column3']
# print(f'values Column3: ', values.unique())


df = df.drop(['Column1', 'Column2', 'Column3', 'Column4'], axis=1)
print(f'columns: ', df.columns)

df = pd.get_dummies(df, columns=['status_type'])
print("After using dummies: \n", df.head())

columns:  Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys'],
      dtype='object')
After using dummies:
                           status_id status_published  num_reactions  \
0  246675545449582_1649696485147474   4/22/2018 6:00            529
1  246675545449582_1649426988507757  4/21/2018 22:45            150
2  246675545449582_1648730588577397   4/21/2018 6:17            227
3  246675545449582_1648576705259452   4/21/2018 2:29            111
4  246675545449582_1645700502213739   4/18/2018 3:22            213

   num_comments  num_shares  num_likes  num_loves  num_wows  num_hahas  \
0           512         262        432         92         3          1
1             0           0        150          0         0          0
2           236          57        204         21         1          1
3             0           0        111          0         0          0
4             0           0        204          9         0          0

   num_sads  num_angrys  status_type_link  status_type_photo  \
0         1           0             False              False
1         0           0             False               True
2         0           0             False              False
3         0           0             False               True
4         0           0             False               True

   status_type_status  status_type_video
0               False               True
1               False              False
2               False               True
3               False              False
4               False              False

In [28]:
df['status_published'] = pd.to_datetime(df['status_published'])

In [29]:
df['published_hour'] = df['status_published'].dt.hour
df['published_dayofweek'] = df['status_published'].dt.dayofweek
df['published_day'] = df['status_published'].dt.day
df['published_month'] = df['status_published'].dt.month

df = df.drop(labels=['status_published'], axis=1)

In [31]:
df

,status_id,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_link,status_type_photo,status_type_status,status_type_video,published_hour,published_dayofweek,published_day,published_month
0,246675545449582_1649696485147474,529,512,262,432,92,3,1,1,0,False,False,False,True,6,6,22,4
1,246675545449582_1649426988507757,150,0,0,150,0,0,0,0,0,False,True,False,False,22,5,21,4
2,246675545449582_1648730588577397,227,236,57,204,21,1,1,0,0,False,False,False,True,6,5,21,4
3,246675545449582_1648576705259452,111,0,0,111,0,0,0,0,0,False,True,False,False,2,5,21,4
4,246675545449582_1645700502213739,213,0,0,204,9,0,0,0,0,False,True,False,False,3,2,18,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,89,0,0,89,0,0,0,0,0,False,True,False,False,2,5,24,9
7046,1050855161656896_1061334757275603,16,0,0,14,1,0,1,0,0,False,True,False,False,11,4,23,9
7047,1050855161656896_1060126464063099,2,0,0,1,1,0,0,0,0,False,True,False,False,23,2,21,9
7048,1050855161656896_1058663487542730,351,12,22,349,2,0,0,0,0,False,True,False,False,0,1,20,9
7049,1050855161656896_1050858841656528,17,0,0,17,0,0,0,0,0,False,True,False,False,10,5,10,9

In [32]:
df = df.drop(labels=['status_id'], axis=1)
df

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_link,status_type_photo,status_type_status,status_type_video,published_hour,published_dayofweek,published_day,published_month
0,529,512,262,432,92,3,1,1,0,False,False,False,True,6,6,22,4
1,150,0,0,150,0,0,0,0,0,False,True,False,False,22,5,21,4
2,227,236,57,204,21,1,1,0,0,False,False,False,True,6,5,21,4
3,111,0,0,111,0,0,0,0,0,False,True,False,False,2,5,21,4
4,213,0,0,204,9,0,0,0,0,False,True,False,False,3,2,18,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,89,0,0,89,0,0,0,0,0,False,True,False,False,2,5,24,9
7046,16,0,0,14,1,0,1,0,0,False,True,False,False,11,4,23,9
7047,2,0,0,1,1,0,0,0,0,False,True,False,False,23,2,21,9
7048,351,12,22,349,2,0,0,0,0,False,True,False,False,0,1,20,9
7049,17,0,0,17,0,0,0,0,0,False,True,False,False,10,5,10,9

In [33]:
df.size

119850

In [49]:
import numpy as np
from sklearn import preprocessing


# df['num_reactions'] = preprocessing.normalize([df['num_reactions']])
d = preprocessing.normalize(df, axis=0)
scaled_df = pd.DataFrame(d, columns=df.columns)

scaled_df['num_reactions'].max()

0.10857125584531031

In [47]:
scaled_df

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_link,status_type_photo,status_type_status,status_type_video,published_hour,published_dayofweek,published_day,published_month
0,0.012194,0.006647,0.022687,0.010326,0.026121,0.004054,0.002964,0.007372,0.0,0.0,0.000000,0.0,0.020699,0.006853,0.019712,0.014521,0.006359
1,0.003458,0.000000,0.000000,0.003586,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.025128,0.016427,0.013861,0.006359
2,0.005233,0.003064,0.004936,0.004876,0.005962,0.001351,0.002964,0.000000,0.0,0.0,0.000000,0.0,0.020699,0.006853,0.016427,0.013861,0.006359
3,0.002559,0.000000,0.000000,0.002653,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.002284,0.016427,0.013861,0.006359
4,0.004910,0.000000,0.000000,0.004876,0.002555,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.003427,0.006571,0.011881,0.006359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,0.002052,0.000000,0.000000,0.002127,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.002284,0.016427,0.015841,0.014307
7046,0.000369,0.000000,0.000000,0.000335,0.000284,0.000000,0.002964,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.012564,0.013142,0.015181,0.014307
7047,0.000046,0.000000,0.000000,0.000024,0.000284,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.026271,0.006571,0.013861,0.014307
7048,0.008091,0.000156,0.001905,0.008342,0.000568,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.000000,0.003285,0.013201,0.014307
7049,0.000392,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.015271,0.0,0.000000,0.011422,0.016427,0.006600,0.014307